<div class="finance__describ">
    <h1>Credit/Debit MEMO</h1>
    
  </div>
  <div class="search-box">
    <button class="btn-search" (click)="myFunction()"><i class="fas fa-search"></i></button>
    <input type="text" id="myInput" class="input-search" (click)="myFunction()" placeholder="Type to Search...">
    
  </div>
  
  <div class="table__cont">
      <div style="margin: 5%">
        
        <br />
        <table id="myTable">
          <thead>
            <tr>
                <th>Billing document</th>
      
                <th>Created By</th>
      
                <th>Created date</th>
      
                
      
                <th>Doc condition No</th>
              
                <th>Payment ref</th>
                <th>Tax</th>
                <th>Net quantity</th>
      
                <th >Status </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let krr of cdmemo" >
                <td>{{krr.VBELN._text}}</td>
                <td>{{krr.ERNAM._text}}</td>
                <td>{{krr.ERDAT._text}}</td>
                
                <td>{{krr.KNUMV._text}}</td>
                <td>{{krr.KIDNO._text || msg}}</td>
                <td>{{krr.MWSBK._text}}</td>
                <td>{{krr.NETWR._text}}</td>
                <td>{{krr.RFBSK._text}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="fotter">
          <button class="back__btn" [routerLink]="'/customer/financesheet'" >
            <i class="fa-solid fa-square-caret-left"></i> Back</button>
        </div>
      </div>